/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --title-accent-color: #353430;
  --button-interactive-color: #353430;
  --title-shadow-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --text-font-color: #353430;
  --border-transparent: rgba(53, 52, 48, 0.4);
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --decor-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #ff8dcb;
  --title-accent-color: #353430;
  --button-interactive-color: #353430;
  --title-shadow-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --text-font-color: #353430;
  --border-transparent: rgba(53, 52, 48, 0.4);
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --decor-rec: none;
  }
}