/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin-block-end: 40px;
  block-size: 100vh;
  min-block-size: 668px;
  min-inline-size: 375px;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  bottom: var(--basic-padding);
  left: var(--basic-padding);
  border-bottom: 1px solid var(--title-accent-color);
  border-left: 1px solid var(--title-accent-color);
}

.decorated-zone::before {
  top: var(--basic-padding);
  right: var(--basic-padding);
  border-top: 1px solid var(--title-accent-color);
  border-right: 1px solid var(--title-accent-color);
}
/*REC*/
.header_decor {
  position: absolute;
  display: var(--decor-rec);
  justify-self: end;
  margin-inline-end: 38px;
  margin-block-start: 10px;
  margin-block-end: 39px;
  color: var(--title-accent-color);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.header__decor::before {
  content: "";
  position: absolute;
  top: 8px;
  left: calc(100% + 10px);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.header_title {
  margin-inline-start: 10px;
  color: var(--title-color);
  font-size: var(--adapted-size);
  line-height: 83%;
  letter-spacing: 0;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  max-inline-size: 355px;
}

.header__theme-menu {
  justify-self: end;
  margin-inline-end: 10px;
  margin-block-start: 75px;
  margin-block-end: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  block-size: 26px;
  inline-size: 70px;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  padding-block: 1.5px;
  color: var(--title-accent-color);
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-interactive-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-accent-color);
  pointer-events: none;
}

.header_description {
  margin-inline: var(--basic-padding);
  margin-block-end: 66px;
  font-size: 18px;
}

.title-decor {
  color: var(--text-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-inline: var(--basic-padding);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_title {
  color: var(--title-accent-color);
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.section_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.multicolored_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.multicolored_link:hover {
  border-bottom: 1px solid var(--text-color);
}

.multicolored_link:focus {
  outline: none;
}

.multicolored_link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section_card-description {
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.skinny_text {
  font-weight: 400;
}

.section_gallery {
  display: grid;
 /* grid-template-columns: auto;*/
  gap: 10px;
  margin-block-end: 40px;
  padding-inline: var(--basic-padding);
}

.gallery-image {
  object-fit: fill;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  min-inline-size: 375px;
}

.footer_title {
  color: var(--title-color);
  font-size: var(--adapted-size);
  line-height: 83%;
  letter-spacing: 0;
  text-shadow: 2px 2px var(--title-shadow-color);
}

@media (width >= 768px) {
  .header {
    margin-block-end: 60px;
  }

  .header_title {
    margin-inline-start: 0;
    max-inline-size: 577px;
  }

  .header_description {
    justify-self: end;
    margin-block-end: 183px;
    max-inline-size: 364px;
  }

  .header_decor {
    margin-inline-end: 48px;
    margin-block-start: 20px;
    margin-block-end: 146px;
  }

  .header__theme-menu {
    margin-inline-end: 20px;
    margin-block-start: 192px;
    margin-block-end: 173px;
  }

  .main {
    gap: 80px;
  }

  .section_why {
    grid-template-columns: 236px 1fr;
  }

  .section_why .section_title {
    block-size: 100%;
  }

  .section_how {
    grid-template-columns: 236px 1fr;
  }

  .section_how .section_title {
    grid-column: 1;
    grid-row: 1/-1;
  }

  .section_what .section_title {
    max-inline-size: 236px;
  }

  .section_gallery {
    gap: 20px;
  }

  .gallery_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, auto);
    grid-template-areas:
      "one one two"
      "three four two"
      "three five five";
    gap: 20px;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery-image:nth-child(1) {
    grid-area: one;
  }

  .gallery-image:nth-child(2) {
    grid-area: two;
  }

  .gallery-image:nth-child(3) {
    grid-area: three;
  }

  .gallery-image:nth-child(4) {
    grid-area: four;
  }

  .gallery-image:nth-child(5) {
    grid-area: five;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: min-content 1fr min-content;
  }

  .header_title {
    margin-block-end: 114px;
    max-inline-size: 759px;
  }

  .header_description {
    justify-self: end;
    margin-block-end: 134px;
    max-inline-size: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-end: 0;
    margin-block-start: 20px;
    margin-block-end: 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section_why {
    grid-template-columns: 1fr 2fr;
  }

  .section_how {
    grid-template-columns: 1fr 2fr;
  }

  .section_what .section_title {
    grid-column: 1/-1;
    grid-row: 1;
    max-inline-size: 315px;
  }

  .section_what {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
  }
}